body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(51, 51, 130, 1) 17%,
    rgba(0, 212, 255, 1) 100%
  );
  overflow-y: hidden;
}

.formContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

.formContainer form {
  background-color: #fff;
  width: 70%;
  max-width: 450px;
  padding: 30px;
  border-radius: 8px;
  border: 1px solid #dfdfdf;
  box-shadow: 0px 0px 10px 10px rgba(17, 17, 26, 0.18);
}

.uiForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
}

.formField {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formField input {
  border: 1px solid grey;
  padding: 15px;
  border-radius: 4px;
}

.formField input:focus {
  outline: none;
}

.formField label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 3px;
}

button {
  background-color: rgb(81, 81, 214);
  width: 100%;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: rgb(33, 33, 209);
}

.errorMessage {
  color: red;
  margin: 0;
  align-self: flex-start;
  font-size: 11px;
}

.messageOK {
  color: rgb(33, 33, 209);
  margin-top: 15px;
}
